{% extends 'base.html' %}


{% block header_text %}
<h2 class="col-sm-offset-2 col-sm-10">Update the calendar</h2>
{% endblock %}

{% block form %}
<div class="well col-sm-offset-2 col-md-6 ">
	<form action="" method="POST">
    {% csrf_token %}

    <h3>cal</h3>
    <div class="form-group">
      {{ form.the_date.errors }}
      {{ form.the_date.label }}
      {{ form.the_date }}
    </div>
    <div class="form-group">
      {{ form.the_time.errors }}
      {{ form.the_time.label }}
      {{ form.the_time }}
    </div>

		<div class="form-group">
				<input type="submit" value="Update" id="submit" class="btn btn-default">
		</div>
	</form>
</div>
{% endblock%}
