{% extends 'base.html' %}


{% block header_text %}
<h2 class="col-sm-offset-2 col-sm-10">Update the Link!</h2>
{% endblock %}

{% block form %}
<div class="well col-sm-offset-2 col-md-6 ">
	<form action="" method="POST">
    {% csrf_token %}
    
    <h3>link</h3>
    <div class="form-group">
      {{ form.content.label }}
      {{ form.content.errors }}
		  {{ form.content }}
    </div>

    
		<div class="form-group">
				<input type="submit" value="Update" id="submit" class="btn btn-default">
		</div>
	</form>
</div>
{% endblock%}