{% extends 'base.html' %}


{% block header_text %}
<h2 class="col-sm-offset-2 col-sm-10">Make a new Noot!</h2>
{% endblock %}

{% block form %}
<div class="well col-sm-offset-2 col-md-6 ">
	<form action="" method="POST">
    {% csrf_token %}
 
    <h3>txt</h3>
    <div class="form-group">
      {{ form.as_p }}
    </div>
   

		<div class="form-group">
				<input type="submit" value="Update" id="submit" class="btn btn-default">
		</div>
	</form>
</div>
{% endblock%}

{% block content %}
<h3 class="col-sm-offset-2 col-sm-10">This is the block content</h3>
{% endblock %}

