<h3 class="panel-header">{{ header }}</h3>

<div class="list-group">
  {% for noot in noten_list %}
	<div class="list-group-item">
	<div class="row">
		
		<div class="col-sm-1">
			<a class="btn btn-default btn-xs disabled">id:{{ noot.id }}</a>
		</div>
		
		<div class="col-sm-1">
	      {% if noot.status == 'Pu' %}
	        <a class='btn btn-success btn-xs disabled'>{{ noot.get_status_display }}</a>
	      {% else %}
	        <a class='btn btn-warning btn-xs disabled'>{{ noot.get_status_display }}</a>
	      {% endif %}
	  	</div>

	  	<div class="col-sm-offset-9"><a href="{% url 'update_noot' noot.id %}" class="btn btn-default">Edit the Noot</a></div>
	</div>
	  <h3>{{ noot.title }}</h3>
	  <p>Created on: {{ noot.created }}. <br/> Last Modification on: {{ noot.modified }}</p>
		
		{% if noot.text_noten.count != 0 %}
		<h4>Texts</h4>
		<div class="well">
			{% for t in noot.text_noten.all %}
				<div class="row">
					<div class="col-sm-9">
						<p>{{t}}</p>
					</div>
					<div class="col-sm-offset-9">
						<a href="{% url 'update_text' t.id %}" class="btn btn-default">Edit the text</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		
		{% if noot.cal_noten.count != 0 %}
		<h4>Calendars</h4>
		<div class="well">
			{% for c in noot.cal_noten.all %}
				<div class="row">
					<div class="col-sm-9">
						<p>{{c}}</p>
					</div>
					<div class="col-sm-offset-9">
						<a href="{% url 'update_calendar' c.id %}" class="btn btn-default">Edit the Calendar</a>
					</div>
				</div>

			{% endfor %}
		</div>
		{% endif %}		
		
		{% if noot.link_noten.count != 0 %}
		<h4>Links</h4>
		<div class="well">
			{% for l in noot.link_noten.all %}
				<div class="row">
					<div class="col-sm-9">
						<p>{{l}}</p>
					</div>
					<div class="col-sm-offset-9">
						<a href="{% url 'update_link' l.id %}" class="btn btn-default">Edit the Link</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		
		{% if noot.tags.all.count != 0%}
			<h4>Tags</h4>
			{% for tag in noot.tags.all %}
			<a class='btn btn-xs btn-default disabled'>{{tag}}</a>
			{% endfor %}
		{% endif %}

		{% if noot.categories.all.count != 0%}
			<h4>Categoriess</h4>
			{% for cat in noot.categories.all %}
			<a class='btn btn-xs btn-default disabled'>{{cat}}</a>
			{% endfor %}
		{% endif %}
  	</div>
  {% empty %}
	<span class="list-group-item">No noten available!</span>
  {% endfor %}
</div>