{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apenoot</title>

    
    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "bootstrap/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/bootstrap-switch.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/sticky-footer-navbar.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/signin.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/main.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block styling %}
    {% endblock %}
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Apenoot!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          {% if user.is_authenticated %}
            <a id="id_logout" href="{% url 'logout' %}" class="btn navbar-btn navbar-right">Log out</a>
            {% if user.is_superuser %}
              <a class="btn navbar-btn navbar-right" href="{% url 'user_dashboard' %}">Logged in as {{ user.username }}</a>
            {% else %}
              <a class="btn navbar-btn navbar-right" href="{% url 'home' %}">Logged in as {{ user.username }}</a>
            {% endif %}
          {% else %}
            <a href="{% url 'login' %}" id="id_login" class="btn navbar-btn navbar-right">Login</a>
          {% endif %}

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    {% block container %}
    
      {% block header_text %}
      {% endblock %}
    
      {% block form %}
      {% endblock%}
    
      {% block content %}
      {% endblock %}

    {% endblock %}
    </div><!-- end container-->


    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "bootstrap/js/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/js/ie10-viewport-bug-workaround.js" %}"></script>
    
    <script src="{% static "bootstrap/js/bootstrap-switch.min.js" %}"></script>
    <script>
      $("[name='my-checkbox']").bootstrapSwitch();
    </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>