{% extends 'base.html' %}

{% block header_text %}
	<h2>Hi, {{ owner.username }}</h2>
	<p>Welcome to your Apenoot's dashboard...</p>
	<p>Here are your last noten, but if you want you can make a <a href="{% url 'new_noot' %}">new one</a></p>
{% endblock %}

{% block content %}
	<div class="col-md-8">
	{% include 'noot_snippets/list_noten.html' with header="Your last noten" noten_list=all_the_noten %}
 	</div>
 	
 	<div class="col-md-3 col-md-offset-1">
 	<h3>Guests &amp; Owners</h3>
 	{% if error_message != '' %}
		<div class='well'>
			<p class="bg-warning">{{error_message}}</p>
		</div>
	{% endif %}
 		<h3 class="panel-header">Guests</h3>
		<div class="list-group">
		{% for g in guests %}
			<div class="row list-group-item">
			<form action="" method="POST">
				<div class="form-group">
					<span>To make of the guest user: <a class="btn btn-default btn-xs disabled">{{ g }}</a> an owner, please type your password</span>
					{{ form.password }}
				</div>
				<div class="form-group">
					<input id="id_guest" type="text" value="{{ g }}" name="user" class="hidden" readonly>
				</div>
				<div class="form-group">
					<input type="submit" value="Upgrade-to-owner" id="submit" class="btn btn-success btn-sm">
				</div>
				{% csrf_token %}
			</form>
			</div>
		{% empty %}
			<p class="row list-group-item">There are no guests!</p>
		{% endfor %}
		</div>
 		
 		<h3 class="panel-header">Owners</h3>
 		<div class="list-group">

		{% for o in owners %}
			<div class="row list-group-item">
				<form action="" method="POST">
				<div class="form-group">
					<span>To make of the owner user: <em class="btn btn-info btn-xs">{{ o }}</em> a guest, please type your password</span>
					{{ form.password }}
				</div>
				<div class="form-group">
					<input id="id_guest" type="text" value="{{ o }}" name="user" class="hidden" readonly>
				</div>
				<div class="form-group">
					<input type="submit" value="Downgrade-to-guest" id="submit" class="btn btn-warning btn-sm">
				</div>
				{% csrf_token %}
			</form>
			</div>
		{% empty %}
			<p class="row list-group-item">There are no other owners: you're the only one!</p>
		{% endfor %}
		</div>

 	</div>
{% endblock %}