{% extends 'base.html' %}
{% load staticfiles %}

{% block styling %}
  <link href="{% static "style.css" %}" rel="stylesheet">
{% endblock %}

{% block container %}

    <form class="well col-md-offset-4 col-md-4" method="post" action="">
      <h2 class="form-signin-heading">Please sign in</h2>
    {% if form.errors %}
      <p class="text-warning">Jouw gebruikersnaam en/of password is niet juist.</p>
    {% endif %} 

      {% csrf_token %}

      <div class="form-group">
        <label for="inputEmail" class="control-label">{{ form.username.label }}</label>
        <div class="inputBootstrapping">{{ form.username }}</div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">{{ form.password.label }}</label>
        <div class="inputBootstrapping">{{ form.password }}</div>
      </div>    

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>
{% endblock %}
