{% extends 'base.html' %}


{% block header_text %}
<h2 class="col-sm-offset-2 col-sm-10">Make a new Noot!</h2>
{% endblock %}

{% block form %}
<div class="well col-sm-offset-2 col-md-6 ">
	<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.title.label }}
      {{ form.title.errors }}
      {{ form.title }}
    </div>
    <div class="form-group">
      {{ form.the_cats.label }}
      {{ form.the_cats.errors }}
      {{ form.the_cats }}
    </div>
    <div class="form-group">
      {{ form.the_tags.label }}
      {{ form.the_tags.errors }}
      {{ form.the_tags }}
    </div>

    <h3>txt</h3>
    <div class="form-group">
      {{ textform.as_p }}
    </div>
    
    <h3>link</h3>
    <div class="form-group">
      {{ linkform.content.label }}
      {{ linkform.content.errors }}
		  {{ linkform.content }}
    </div>

    <h3>cal</h3>
    <div class="form-group">
      {{ calform.the_date.errors }}
      {{ calform.the_date.label }}
      {{ calform.the_date }}
      <hr>
      {{ calform.the_time.errors }}
      {{ calform.the_time.label }}
      {{ calform.the_time }}
    </div>

        <div class="form-group">
          {{ form.status.errors }}
          <div class="btn-group" data-toggle="buttons">
            {% for status in form.status %}
                  <p>
                    {{ status.tag }}
                    {{ status.choice_label }}
                  </p>
            {% endfor %}
          </div>
        </div>

		<div class="form-group">
				<input type="submit" value="submit!" id="submit" class="btn btn-default">
		</div>
	</form>
</div>
{% endblock%}