{% extends 'base.html' %}
{% load tz %}
{% block container %}

  {% block header_text %}
    <div class="col-md-10 col-md-offset-1">
    {% if user.is_authenticated %}
        <h2>Hi, {{ user.username }}</h2>
    {% else %}
      <h2>Welkom to the Apenoot!</h2>
      <p>Click here to <a href="{% url 'login' %}">login</a> or <a href="{% url 'user_signup' %}">Sign Up!</a></p>
    {% endif %}
    </div>
  {% endblock %}

  {% for noot in noten %}
    <article class="col-md-8 col-md-offset-2 well">
      <div class="row">
        <a class="col-md-offset-1 col-md-5 text-center btn btn-info btn-sm disabled">Modificated on {{ noot.modified }} for the last time.</a>
        <a class="col-md-offset-1 col-md-3 text-center btn btn-default btn-sm disabled">Created by {{ noot.owner }}</a>
        <div class="col-md-2 text-center">
        
          {% if noot.status == 'Pu' %}
            <a class='btn btn-success btn-sm disabled'>{{ noot.get_status_display }}</a>
          {% else %}
            <a class='btn btn-warning btn-sm disabled'>{{ noot.get_status_display }}</a>
          {% endif %}
        </div>
      </div>
      <p>
      </p>

      <h2>{{ noot.title }}</h2>
    
    {% if noot.text_noten.count != 0 %}
    <section class="well col-md-offset-2">
    <h4>Texts</h4>
      {% for t in noot.text_noten.all %}
        <p>{{t}}</p>
      {% endfor %}
    </section>
    {% endif %}

    {% if noot.cal_noten.count != 0 %}
    <section class="well col-md-offset-2">
    <h4>Calendars</h4>
      {% for c in noot.cal_noten.all %}
        <p>{{c}}</p>
      {% endfor %}
    </section>
    {% endif %}   

    {% if noot.link_noten.count != 0 %}
    <section class="well col-md-offset-2">
    <h4>Links</h4>
      {% for l in noot.link_noten.all %}
        <p>{{l}}</p>
      {% endfor %}
    </section>
    {% endif %}


    {% if noot.tags.all.count != 0%}
      <h5>Tags</h5>
      {% for tag in noot.tags.all %}
      <span class='btn btn-xs btn-info'>{{tag}}</span>
      {% endfor %}
    {% endif %}

    {% if noot.categories.all.count != 0%}
      <h5>Categories</h5>
      {% for cat in noot.categories.all %}
      <span class='btn btn-xs btn-info'>{{cat}}</span>
      {% endfor %}
    {% endif %}

    
    </article>
  {% endfor %}
{% endblock %}
