{% extends 'base.html' %}
{% load staticfiles %}

{% block styling %}
    <link href="{% static "style.css" %}" rel="stylesheet">
{% endblock %}

{% block container %}

    <form class="well col-md-offset-4 col-md-4" method="post" action="">
      <h2 class="form-signin-heading">Want to join us?</h2>
    {% if form.errors %}
      <p class="text-warning">Jouw gebruikersnaam en/of password is niet juist.</p>
    {% endif %} 
      
      {% csrf_token %}

      <div class="form-group">
        <label for="id_username" class="control-label">{{ form.username.label }}</label>
        <div class="inputBootstrapping">{{ form.username }}</div>
        {{ form.username.help_text }}
      </div>

      <div class="form-group">
        <label for="id_password1" class="control-label">{{ form.password1.label }}</label>
        <div class="inputBootstrapping">{{ form.password1 }}</div>
      </div>

      <div class="form-group">
        <label for="id_password2" class="control-label">{{ form.password2.label }}</label>
        <div class="inputBootstrapping">{{ form.password2 }}</div>
        {{ form.password2.help_text }}
      </div>    
      


      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>
{% endblock %}
